<style>

    .note_card{
            box-sizing: border-box;
        }

        .note_card .note_buttons{
            box-sizing: border-box;
        }

        .note_card .note_text h4{
            margin:0;
        }

        .note_card .note_buttons button{
            width:100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            border:none;
            padding:0;
        }

        .id{
            color:rgb(211, 211, 211);
            margin-bottom:16pt;
            margin-top:8pt;
            font-weight:200;
        }

        .note_card .note_buttons button:last-child{
            float:bottom;
        }

        .note_card .note_buttons button:first-child{
            float:top;
        }

    </style>

<form id='submit_notes'>
    <div class='twelve columns'>
        <label class='u-full-width' for='notes_title'>Note Title</label>
        <input class='u-full-width' type='text' id='notes_title' name='title' placeholder='Enter Title Here'>
    </div>

    <div class='twelve columns'>
        <label class='u-full-width' for='notes_paragraph'>Notes</label>
        <textarea class='u-full-width' id='notes_paragraph' name='notes' placeholder="Enter Notes Here"></textarea>
    </div>

    <input type='submit' class='button-primary u-full-width'>
</form>

<div id='note_holder'>
    {{#notes}}
    <div class='row note_card'>
        <div class='eleven columns note_text'>
            <h4 class='regex-format'>{{title}}</h4>
            <p class='regex-format id'><i>{{id}}</i></p>
            <p class='regex-format'>{{notes}}</p>
        </div>
        <div class='one columns note_buttons'>
            <button value='{{id}}' id='{{id}}.up' onclick='card_action(this.id)'><i class="material-icons">expand_less</i></button>
            <button value='{{id}}' id='{{id}}.delete' onclick='card_action(this.id)'><i class="material-icons">clear</i></button>
            <button value='{{id}}' id='{{id}}.down' onclick='card_action(this.id)'><i class="material-icons">expand_more</i></button>
        </div>
    </div>
    {{/notes}}
</div>

<script>

    function card_action(location) {

        let data = location.split('.')

        console.log(data)

        let payload = {
            room_id: '{{id}}',
            note_id: data[0],
            method: data[1]
        }

        let completion = POSTPackage(payload, '/manipulate/notes')

        window.location.reload()
    }

    let notes = document.getElementsByClassName('regex-format')

    let alpha = Array.from(notes).map((acc) => {
        let data = acc.innerHTML.replace(/\n/g, "<br>")
        return data
    })

    for (var i = 0; i < alpha.length; i++) {
        notes[i].innerHTML = alpha[i]
    }

    DOMID('submit_notes').addEventListener('submit', () => {

        let req = new XMLHttpRequest()
        req.open('POST', '/rooms/{{id}}')
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        let submission = new FormData(DOMID('submit_notes'))

        let payload = {
            title: submission.get('title'),
            notes: submission.get('notes')
        }

        req.onreadystatechange = () => {
            if (this.readyState == 4 && this.status == 200) {
                return
            }
        }

        req.send(toUrlEncoded(payload))
    })

</script>