<div class = 'row'>
    {{!-- {{#rooms}}
    <div class='card three columns'>
        <p class='card_title'>{{room_name}}</p>
        <p class='card_id'>{{id}}</p>
        <a href="./rooms/{{id}}">Join Room</a>
    </div>
    {{/rooms}} --}}

    {{#each rooms}}
        <div class = 'row'>
        {{#each this}}
            <div class='card four columns'>
                <p class = 'card_title'>{{this.room_name}}</p>
                <p class='card_id'>{{this.id}}</p>
                <a href='/rooms/{{this.id}}'>Join Room</a>
            </div>
        {{/each}}
        </div>
    {{/each}}
</div>

<form id='new_room' class = 'row'>
    <div class="eight columns">
        <input placeholder='Enter a new Room Name Here' type='text' id='add_room' class='u-full-width'required>
    </div>

    <div class ='four columns'>
        <input type='submit' class='u-full-width'>
    </div>

</form>

<script>

    const toUrlEncoded = obj => Object.keys(obj).map(k => encodeURIComponent(k) + '=' + encodeURIComponent(obj[k])).join('&');

    document.getElementById('new_room').addEventListener('submit',() => {
        
        req = new XMLHttpRequest();
        req.open('POST', '/rooms')
        req.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");

        let newRoom = {
            room_name:DOMID('add_room').value,
        }

        req.onreadystatechange = () => {
            if(this.readyState == 4 && this.status == 200){
                console.log('complete')
            }
        }

        req.send(toUrlEncoded(newRoom))

        console.log(newRoom)

        
    })

    function DOMID(name){
        return document.getElementById(name)
    }

</script>